tensorflow-gpu>=2.2.0
six>=1.12.0
tensorflow-hub>=0.8.0
tensorflow-text==2.2.0
statsmodels>=0.9.0
seaborn>=0.10.1
dask[complete]>=2.17.2
langdetect>=1.0.8
ezsmdeploy
simpleneighbors[annoy]
tqdm==4.47.0
bokeh==2.1.1
jupyter-bokeh==2.0.2
ipywidgets==7.5.1
cloudpickle==1.5.0